.avatar {
    position: relative;

    svg {
        position: relative;
        z-index: 1;
    }
}

.avatarButton {
    z-index: 2;
    position: absolute;
    bottom: calc(var(--spacer-8) * -1);
    right: calc(var(--spacer-8) * -1);
    background-color: var(--mono-004);
    border: 0;
    height: var(--spacer-24);
    width: var(--spacer-24);
    border-radius: 9999px;
    padding: 0;
    line-height: 1;
}

.tabs {
    padding-top: var(--spacer-24);
    padding-bottom: var(--spacer-24);
    margin-left: calc(var(--spacer-32) * -1);
    margin-right: calc(var(--spacer-32) * -1);
}

.tabsWrapper {
    padding-left: var(--spacer-32);
    padding-right: var(--spacer-32);
}
